.articles-index {
  ._header {
    background: $green;
    display: block;
    width: 100%;
    padding: $gutter-double 0;
    overflow: hidden;
    position: relative;

    @include mobile {
      min-height: 200px;
      height: auto;
      padding: $gutter 0;
    }

    ._header-group {
      display: block;
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      position: relative;
      vertical-align: middle;
      z-index: 10;
      text-align: center;

      ._wrap {
        max-width: 1200px;
        margin: 0 auto;
      }
    }

    h1 {
      @extend %h2;
      color: $white;
      text-align: center;

      @include mobile {
        font-size: 30px;
      }

      a {
        opacity: 1;
        transition: opacity 0.125s ease-in-out;
        color: $white;

        @include hover {
          opacity: 0.75;
        }
      }
    }

    h5 {
      @extend %circular-medium;
      color: $white;
      font-size: 21px;
      line-height: (28 / 21);
    }

    h6 {
      color: $white;
      font-size: 16px;
      font-weight: 400;
      line-height: (21 / 16);

    }

    ._avatar {
      display: inline-block;
      position: relative;
      top: 10px;
      border-radius: 72px;
      width: 36px;
      height: 36px;
      margin-right: 10px;
    }

    ._date {
        &:before {
            content:'\007C';
            display: inline-block;
            margin: 0 0.5em;
        }

    }

    @include mobile {
        h6 {
            overflow: hidden;
        }
        ._avatar {
            display: block;
            top: auto;
            margin: 0 auto 5px;
        }
        ._date {
            white-space: nowrap;
        }
    }


    ._hero {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 5;
      width: 100%;

      @include mobile {
        height: 100%;
      }

      svg, img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        @include mobile {
          height: 100%;
        }
      }
    }
  }

  @include mobile() {
    ._header {
      ._header-group {
        display: flex;
        height: 100%;
        ._wrap {
          align-self: center;
          width: 100%;
          padding: 0 10px;
        }
      }
    }
  }

}

.articles-page {
  padding: 120px 0 70px 0;
  position: relative;
  z-index: 100;

  @include tablet {
    padding: $gutter-double 0 $gutter 0;
  }

  ._sort {
    margin-bottom: $gutter;
    font-size: 16px;
    font-weight: 700;
    line-height: (28 / 16);
    text-transform: uppercase;

    @include mobile {
      margin-bottom: $gutter-half;
    }
  }
}

.articles-item {
  margin-bottom: 50px;

  ._text-content {
    overflow: hidden;
    margin-bottom: 11px;
    position: relative;

    p {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      margin: 0;
    }
  }

  h5 {
    @extend %sanchez-semibold;
    margin-bottom: 5px;

    a {
      color: $gray;

      @include hover {
        color: $gray-light;
      }
    }
  }

  p {
    font-size: 16px;
    line-height: (24 / 16);
  }
}

.tags {
  background: white;
  float: right;

  @include mobile {
    float: none;
  }

  h4 {
    @extend %circular-bold;
    margin-bottom: 9px;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: (28 / 16);
    text-transform: uppercase;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    padding-bottom: 4px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: (28 / 16);
    text-transform: uppercase;
  }

  a {
    display: block;
  }
}
