.articles-detail {
  background: $gray-bg;
  padding-top: $gutter;

  @include mobile {
    padding-top: 80px;
  }

  ._header {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: $gutter-double 0;

    @include mobile {
      margin: 0;
    }

    ._header-group {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      height: 100%;
      position: relative;
      z-index: 10;
      text-align: center;

      ._wrap {
        max-width: 1200px;
        margin: 0 auto;
      }
    }

    h1 {
      @extend %h2;
      margin-bottom: 0;
      text-align: center;

      @include mobile {
        font-size: 30px;
      }
    }

    h5 {
      @extend %circular;
      font-size: 21px;
      line-height: (28 / 21);
    }

    h6 {
      padding: 10px 0;
      font-size: 16px;
      font-weight: 400;
      line-height: (21 / 16);
    }

    ._avatar {
      display: inline-block;
      position: relative;
      top: 10px;
      border-radius: 72px;
      width: 36px;
      height: 36px;
      margin-right: 10px;
    }
  }
}

.articles-content {
  background: $gray-bg;
  position: relative;
  padding: $gutter 0 245px 0;

  img {
    width: 100%;
  }

  @include mobile {
    padding: $gutter-double 0 40px 0;
  }

  ._back {
    @extend %circular-bold;
    position: fixed;
    z-index: 500;
    left: $gutter;
    top: 90px;
    opacity: 0;
    transform: translate3d(0, -50%, 0);
    transition: all 0.25s $curve-standard;
    font-size: 16px;
    line-height: (28 / 16);
    text-transform: uppercase;

    .scrolled & {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    @include mobile {
      display: none;
    }
  }

  .container {
    max-width: 585px;
  }

  h2 {
    @extend %h4;
    padding-top: $gutter;

    @include mobile {
      font-size: 21px;
    }

    strong {
      @extend %sanchez-bold;
      font-weight: 400;
    }
  }

  h3 {
    @extend %h5;
    padding-top: $gutter;
  }

  h4 {
    @extend %h6;

    @include mobile {
      font-size: 16px;
    }
  }

  ul, ol {
    margin: 0 0 $gutter 0;
  }

  li {
    // margin-bottom: 20px;

    @include mobile {
      font-size: 14px;
    }
  }

  ._footer {
    border-top: 1px solid rgba($gray-dark, 0.2);
    margin-top: $gutter-double;
    padding-top: $gutter;

    ._share-header {
      display: inline-block;
      margin-right: 10px;
    }

    .icon-twitter-dark {
      @extend %hidetext;
      background-repeat: no-repeat;
      display: inline-block;
      width: 22px;
      height: 18px;
      position: relative;
      top: 2px;
      opacity: 0.5;
      transition: all 0.25s $curve-standard;

      @include hover {
        opacity: 1;
      }
    }

    ._related {
      margin-top: 20px;
      font-size: 18px;
      line-height: (32 / 18);

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }
  }
}