@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}

.footer {
  position: relative;
  background: #333333;
  box-shadow: -1px 2px 2px rgba(#000, 0.5);
  text-align: center;
  padding-bottom: 63.5px;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  z-index: 999;

  @include tablet {
    padding-bottom: 72px;
  }

  ._atlassian-logo {
    background: $gray-secondary;
    margin: 0 0 131px 0;
    padding: 34px 0 44px 0;
    color: $gray-light;
    font-size: 16px;
    font-style: normal;
    line-height: (20 / 16);

    @include tablet {
      margin-bottom: 65px;
    }

    a {
      @extend %hidetext;
      background-repeat: no-repeat;
      background-size: contain;
      width: 158px;
      height: 34px;
      margin: 8px auto 0 auto;
      opacity: 0.5;
      transition: opacity 0.125s ease-in-out;

      @include hover {
        opacity: 1;
      }
    }
  }

  h6 {
    @extend %circular-medium;
    margin-bottom: $gutter;
    color: $gray-rules;
    font-size: 21px;
    line-height: (26 / 21);

    @include tablet {
      margin-bottom: $gutter-half;
    }
  }

  ._social {
    @extend %hidetext;
    border: 2px solid $white;
    border-radius: 30px;
    display: inline-block;
    margin-right: 28px;
    width: 60px;
    height: 60px;
    opacity: 0.5;
    transition: opacity 0.125s ease-in-out;

    @include tablet {
      margin-bottom: $gutter-double;
    }

    @include hover {
      opacity: 1;
    }

    &.-twitter,
    &.-facebook,
    &.-gplus {
      background-position: center;
      background-repeat: no-repeat;
    }

    &.-gplus {
      margin-right: 0;
    }
  }

  .newsletter {
    position: relative;
    width: 300px;
    height: 55px;
    display: inline-block;

    @include tablet {
      margin-bottom: $gutter-double;
    }

    ._status {
      width: 40px;
      height: 40px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 40px 40px;
      position: absolute;
      right: 7px;
      top: 7px;
      transition: opacity 0.125s ease-in-out;
      opacity: 0;
      pointer-events: none;
      cursor: pointer;
      overflow: hidden;
      text-indent: -9999em;
      text-align: left;
      background-color: transparent;
      border: 0;
      &:focus {
        outline: 0;
      }
    }

    ._input {
      border: 2px solid $gray-light;
      background: transparent;
      border-radius: 30px;
      width: 300px;
      height: 55px;
      padding: 5px 37px 0 37px;
      transition: border-color 0.125s ease-in-out;
      color: $white;
      line-height: 1;
      &:focus {
        outline: 0;
      }

      &::placeholder {
        color: $gray-light;
        opacity: 1;
        transition: opacity 0.125s ease-in-out;
      }

      &::-ms-clear {
        display: none;
      }
    }

    &.is-focused {
      ._status {
        opacity: 0.2;
      }

      ._input {
        outline: none;
        border-color: $white;
        padding: 5px 45px 0 24px;

        &::placeholder {
          opacity: 0.25;
        }
      }
    }

    &.is-valid {
      ._status {
        opacity: 1;
        pointer-events: auto;
      }

      ._input {
        padding: 5px 45px 0 24px;
      }
    }

    &.form-is-processing {
      pointer-events: none;

      ._input {
        padding: 5px 45px 0 24px;
      }

      ._status {
        opacity: 0.5;
        animation: pulse 0.8s ease-in-out infinite alternate;
      }
    }

    &.form-is-success {
      pointer-events: none;

      ._input {
        padding: 5px 45px 0 24px;
      }

      ._status {
        opacity: 1;
      }
    }

    &.form-is-error {
      ._status {
        opacity: 1;
        pointer-events: none;
      }

      ._input {
        padding: 5px 45px 0 24px;
      }
    }

    ._input.is-empty {
      color: $gray-light;
    }
  }

  ._bitbucket-logo {
    @extend %hidetext;
    background-repeat: no-repeat;
    background-size: cover;
    width: 160px;
    height: 28px;
    margin: 20px auto 0 auto;
    opacity: 0.5;
    transition: opacity 0.125s ease-in-out;

    @include hover {
      opacity: 1;
    }
  }

  .license {
    margin: 0;
    padding: 63.5px $gutter 0;
    color: $gray-rules;
    .icon-global-cclicense {
      background-repeat: no-repeat;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      width: 65px;
      height: 25px;
      background-size: contain;
    }
    a:hover {
      color: #fff;
    }
  }
}
