.hamburger {
  position: fixed;
  left: 0;
  top: 0;
  height: $topbar-height;
  width: 28px + (2 * $gutter);
  padding: ($topbar-height-small / 2) $gutter;
  transform: translate3d(0, 0, 0);
  transition: transform 0.25s $curve-standard;
  z-index: 1002;
  cursor: pointer;
  user-select: none;

  @include mobile {
    width: 28px + (2 * 20px);
    padding: ($topbar-height-small / 2) 20px;
    transform: translateY(-10px);
  }

  .scrolled & {
    transform: translateY(-10px);
    height: $topbar-height - 10px;
  }

  ._layer {
    background: $gray-dark;
    margin-bottom: 4px;
    border-radius: 2px;
    width: 28px;
    height: 4px;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: all 0.25s $curve-standard;
  }

  @include hover {
    .-top {
      transform: translateY(-100%);
    }

    .-bottom {
      transform: translateY(100%);
    }
  }

  &.is-active {
    .-top {
      transform: translateY(200%) rotate(45deg) !important;
    }

    .-mid {
      opacity: 0;
    }

    .-bottom {
      transform: translateY(-200%) rotate(135deg) !important;
    }
  }
}