.home-banner {
  background: $atlassian-blue;
  padding: 63px 0 84px 0;

  @include mobile {
    overflow: hidden;
    padding: $gutter 0 42px 0;
  }

  ._hero-wrapper {
    width: 931px;
    margin: 0 auto;

    @include tablet {
      width: 90%;
    }
  }

  ._hero {
    position: relative;

    svg, img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  h1 {
    @extend %hidetext;
    height: 0;
    margin: 0;
  }

  p {
    color: white;
    font-size: 28px;
    text-align: center;
    -webkit-font-smoothing: antialiased;

    @include mobile {
      font-size: 16px;
      line-height: (19 / 16);
    }
  }

  ._title {
    @extend %sanchez;
    background-position: center 95%;
    background-repeat: no-repeat;
    margin: 40px auto 0 auto;
    width: 500px;
    padding-bottom: 60px;
    color: $white;
    text-align: center;
    cursor: pointer;
    transition: background-position 0.25s $curve-standard;

    @include hover {
      background-position: center 100%;
    }

    @include mobile {
      margin-top: 20px;
      padding: 0 $gutter $gutter-double $gutter;
      width: auto;
      font-size: 32px;
    }
  }
}

.home-section {
  padding: 0 $gutter-double 113px $gutter-double;

  @include mobile {
    padding: 0 0 80px 0;
  }

  ._label {
    @extend %circular-bold;
    text-align: center;
    color: $white;
    -webkit-font-smoothing: antialiased;
    height: 60px;
    margin: 0 0 70px 0;
    padding-top: 15px;
    font-size: 21px;
    line-height: (28 / 21);
    letter-spacing: normal;

    @include mobile {
      height: $gutter-double;
      margin-bottom: 0;
      padding-top: 18px;
      font-size: 18px;
    }
  }

  &.-popular {
    ._label { background-color: $lighterblue; }
  }

  &.-posts {
    background-color: $gray-bg;
    ._label { background-color: $green; }
  }

  &.-glossary {
    ._label { background-color: $yellow; }
  }

  .see-all {
    @extend %circular-bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    .touchevents & {
      border-bottom: 1px solid $gray-light;
      padding-bottom: 7px;
    }
  }
}

.home-popular {
  text-align: center;

  ._sections {
    margin-bottom: 93px;

    @include tablet {
      margin-top: $gutter;
    }

    @include mobile {
      margin-bottom: $gutter;
    }
  }

  ._group {
    background-repeat: no-repeat;
    padding-top: 85px;
    text-align: center;

    @include tablet {
      margin-bottom:  $gutter;
    }

    &.-getting-started {
      background-position: center 0;
      background-size: 100px 80px;
    }

    &.-collaborating {
      background-position: center 0;
      background-size: 95px 80px;
    }

    &.-migrating {
      background-position: center 0;
      background-size: 90px 80px;
    }

    &.-advanced {
      background-position: center 0;
      background-size: 101px 65px;
    }


    ._heading {
      margin: 0 0 $gutter-half 0;
    }

    ol {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      border-bottom: 1px solid $gray-rules;
      padding: 13px 0 11px 0;
      line-height: (24 / 16);

      &:last-child {
        border-bottom: none;
      }

      a {
        display: block;
      }
    }
  }
}

.home-post {
  text-align: center;

  ._item {
    border-bottom: 1px solid rgba($gray-dark, 0.2);
    padding: 0 0 $gutter 0;
    margin-bottom: 40px;

    @include mobile {
      border-bottom: 0;
      margin: 25px 0 $gutter-double 0;
      padding: 0;

      &:after {
        display: block;
        content: '';
        border-bottom: 1px solid rgba($gray-dark, 0.2);
        position: relative;
        top: $gutter;
        margin-left: 50%;
        width: 50%;
        transform: translateX(-50%);
      }

      &:first-child:before {
        display: none;
      }
    }

    a {
      display: block;
      color: $gray-dark;
      
      &[name="10-years-of-git"] h6 {
        display: none;
      }
      
      @include hover {
        color: $gray-subrules;

        h3 {
          color: $gray-subrules;
        }
      }
    }
  }

  .see-all {
    display: inline-block;
    margin-top: 80px;

    @include mobile {
      margin-top: $gutter;
    }
  }

  h3 {
    margin-bottom: $gutter;
    transition: color 0.125s ease-in-out;

    @include mobile {
      font-size: 26px;
    }
  }

  h6 {
    margin-bottom: 5px;
    padding: 10px 0;
    color: $gray-light;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: (21 / 16)
  }

  p {
    font-size: 16px;

    @include mobile {
      display: none;
    }
  }

  ._avatar {
    display: inline-block;
    position: relative;
    top: 10px;
    border-radius: 72px;
    width: 36px;
    height: 36px;
    margin-right: 10px;
  }
}

.home-glossary {
  text-align: center;

  ._def {
    margin-bottom: 14px;
    font-size: 96px;
    letter-spacing: -2.5px;
    line-height: 1;

    @include mobile {
      font-family: 'Sanchez Light', Georgia, serif; // can't extend inside a media query
      margin-top: $gutter;
      font-size: 41px;
    }
  }

  p {
    margin-bottom: 75px;

    @include mobile {
      margin-bottom: $gutter-double;
    }
  }
}
