.jira-collector {
  position: fixed;
  background: #013466;
  font-weight: bold;
  display: block;
  white-space: nowrap;
  text-decoration: none !important;
  font-family: arial, FreeSans, Helvetica, sans-serif;
  right: 0;
  bottom: 0;
  border: 1px solid #ccc;
  border-bottom: none;
  border-right: none;
  background-color: #f5f5f5;
  color: #444 !important;
  font-size: 11px;
  padding: 6px;
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px 0 0 0;
  cursor: pointer;
  z-index: 10000;

  @include tablet {
    display: none;
  }
}

#atlwdg-trigger {
  display: none;
}