@mixin overlay-hidden(){
	opacity: 0;
	transform: scale(0.8);	
}

@mixin overlay-visible(){
	opacity: 1;
	transform: scale(1);
}


body > .modal-layer {
	position: relative;
	z-index: 10001;
	.overlay {
		position: fixed;
		top: 0; right: 0; bottom: 0; left: 0;
		background: rgba(30,30,30,0.96);
  		transition: all 0.2s ease-in-out;
		&.overlay-anim-enter {
			@include overlay-hidden();
  			&.overlay-anim-enter-active {
  				@include overlay-visible();
  			}
		}
		&.overlay-anim-leave {
  			@include overlay-visible();
			&.overlay-anim-leave-active {
				@include overlay-hidden();
			}
		}
		&.ten-years-overlay {
			background: rgba(89,175,225,.96);
		}
	}
}

.modal {
	display: flex;
	align-items: stretch;
	height: 100%;	
	overflow: auto;
	.modal-header {
		padding: 36px;
		position: absolute;
		.close {
			position: relative;
			text-indent: -999em;
			display: inline-block;
			height: 56px;
			width: 56px;
			transition: opacity .1s ease-in-out;
			&:before,
			&:after {
				content: "";
				display: inline-block;
				width: 56px;
				height: 6px;
				background: $white;
				border-radius: 3px;
				position: absolute;
				top: 22px; 
				left: 0;
			}
			&:before {
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}
			&:hover {
				opacity: 0.85;
			}

		}
	}
	.modal-body {
		margin: 0 auto;
		display: flex;
	}
	.modal-body-inner {
		max-width: 700px;
		padding: 20px;
		margin: 0 auto;
		align-self: center;
		max-height: 100%;
		overflow: auto;
	}


	// styled modals
	&.ten-years-modal {
		h3.date {
			color: $white;
			font-size: 26px;
			letter-spacing: 0;
			margin-bottom: 16px;
			@extend %circular-bold;
		}
		h2 {
			color: $black;
			@extend %sanchez-bold;
			font-size: 50px;
			margin-bottom: 80px;
			@media only screen and (max-height: 600px){
				margin-bottom: 20px;
			}
		}
		p {
			color: $white;
			@extend %circular;
			font-size: 22px;
			margin-bottom: 0;
		}
		.modal-body-inner {
			text-align: center;

		}

	}

	@include mobile(){
		.modal-header {
			padding: 10px;
			.close {
				height: 30px;
				width: 30px;
				&:before,
				&:after {
					width: 30px;
				}
			}
		}	
		&.ten-years-modal {
			h3.date {
				font-size: 16px;
			}
			h2 {
				font-size: 25px;
			}
			p {
				font-size: 16px;
			}
		}

	}


}