.primary-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($white, 0.95);
  transition: transform 0.35s $curve-standard;
  transform: translate3d(0, -100%, 0);
  z-index: 1001;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  @include mobile {
    background-color: $white;
  }

  &.is-active {
    transform: translate3d(0, 0, 0);

    ._nav-item {
      transform: translate3d(0, 0, 0) !important;
      opacity: 1 !important;
    }
  }

  .no-csstransitions & {
    display: none;
    transform: translate3d(0, 0, 0);
    top: 0;
  }

  .no-csstransitions &.is-active {
    display: block;
  }

  ._wrapper {
    display: table;
    width: 100%;
    height: 100%;
  }

  ._nav-list {
    display: table-cell;
    width: 100%;
    padding: 0;
    vertical-align: middle;

    @include mobile {
      padding-top: 45px;
    }

    li {
      margin-bottom: 40px;
      padding: 0;
      list-style: none;
      text-align: center;
      opacity: 1;

      li {
        opacity: 1 !important;
      }

      @include hover {
        transition: opacity 0.125s ease-in-out;
        opacity: 0.75;
      }

      &.tutorials {
        @include mobile {
          display: none;
        }
      }
    }

    h4 {
      margin: 0;
      padding: 0;
    }

    ._nav-item {
      @extend %circular-bold;
      display: block;
      transform: translate3d(0, -50%, 0);
      transition: all 0.75s $curve-standard;
      opacity: 0;
      font-size: 60px;
      cursor: pointer;
      letter-spacing: -2.5px;
      text-rendering: optimizeLegibility;

      &.-home {
        color: $gray-dark;
      }

      &.-tutorials {
        transition-delay: 0.1s;
        cursor: pointer;
        color: $blue;
      }

      &.-articles {
        transition-delay: 0.15s;
        color: $green;
      }

      &.-glossary {
        transition-delay: 0.2s;
        color: $yellow;
      }

      @include mobile {
        font-size: 45px;
      }
    }
  }

  .tutorials-nav {
    display: none;

    @include mobile {
      display: block;
      opacity: 1 !important;

      ._nav-item.-tutorials {
        display: block;

        @include hover {
          transition: opacity 0.125s ease-in-out;
          opacity: 0.75 !important;
        }
      }
    }
  }

  ._sublist {
    background: $gray-bg;
    max-height: 0;
    transition: all 0.35s $curve-slower;
    overflow: hidden;

    &.is-active {
      margin-top: $gutter;
      padding-bottom: 35px;
      max-height: 700px;
    }

    ol {
      padding: 0;

      li {
        margin-bottom: 28px;
      }
    }

    h5 {
      @extend %circular-bold;
      margin: 0;
      color: $gray-subrules;
      font-size: 21px;
      line-height: (27 / 21);
      cursor: pointer;
    }

    ._group {
      margin: 0;
      padding: 35px 0 0 0;

      &:last-child .is-active {
        margin-bottom: -35px;
      }
    }

    ._group-wrap {
      background: $gray-rules;
      max-height: 0;
      transition: all 0.35s $curve-slower;
      overflow: hidden;

      &.is-active {
        max-height: 500px;
        padding: 35px 0 0 0;
        margin: 35px 0 0 0;
      }

      a {
        display: block;
        padding: 0 20px;
        color: $gray-subrules;
        font-size: 18px;
        font-weight: 700;
        line-height: (23 / 18);

        &.active {
          color: $gray-dark;
        }
      }
    }
  }
}