.reference-index {
  background: $white;
  padding-bottom: 60px;

  ._header {
    background: $yellow;
    height: 130px;
    overflow: hidden;
    position: relative;

    ._hero {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 5;
      width: 100%;

      @include mobile {
        height: 100%;
      }

      svg, img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        @include mobile {
          height: 100%;
        }
      }
    }
  }

  ._tabs {
    position: relative;
    margin: 0 auto;
    width: 360px;
    height: 130px;
    z-index: 10;

    @include mobile {
      width: 320px;
    }
  }

  ._head {
    background-repeat: no-repeat;
    width: 33px;
    height: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate3d(220%, 0, 0);
    transition: transform 0.25s $curve-standard;

    @include mobile {
      transform: translate3d(190%, 0, 0);
    }

    &.-right {
      transform: translate3d(760%, 0, 0);

      @include mobile {
        transform: translate3d(675%, 0, 0);
      }
    }

    .no-csstransitions & {
      transform: none;
      left: 20%;

      @include mobile {
        left: 19%;
      }
    }

    .no-csstransitions &.-right {
      left: 70%;

      @include mobile {
        left: 69%;
      }
    }
  }

  ._tabs-list {
    @extend %clearfix;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    list-style-type: none;

    li {
      display: block;
      float: left;
      width: 50%;
      text-align: center;

      a {
        @extend %circular-bold;
        background-repeat: no-repeat;
        display: inline-block;
        color: $gray-dark;
        font-size: 16px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        text-align: center;

        ._hero {
          position: relative;
          padding-bottom: 0 !important;
          height: 53px;
        }

        .fill {
          fill: $yellow;
          transition: all 0.25s $curve-standard;
        }

        &.active {
          color: $white;

          .fill {
            fill: $white;
          }
        }

        @include hover {
          color: $white;

          .fill {
            fill: $white;
          }
        }
      }
    }
  }
}

.reference-page {
  padding: 80px 0;
  max-width: 585px;
  margin: 0 auto;

  @include mobile {
    padding: $gutter-double 0 0 0;
  }

  pre code {
    color: $yellow;
  }

  p {
    font-size: 16px;
    margin: 0 0 20px 0;
  }

  ._related {
    h6 {
      font-size: 16px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}

.ref-glossary-item {
  margin-bottom: $gutter-double;
  
  h3 {
    @extend %circular-medium;
    margin-bottom: 10px;
    font-size: 36px;
    line-height: (46 / 36);
    text-transform: capitalize;

    @include mobile {
      font-size: 26px;
    }

    a {
      color: $gray-dark;
    }
  }
}

.ref-command-item {
  margin-bottom: $gutter;

  h3 {
    a {
      border: 1px solid $gray-light;
      border-radius: 2px;
      padding: 5px 14px 7px 12px;
      font-size: 18px;
      line-height: (22 / 16);

      code {
        @extend %nimbus;
        font-size: 17px;
      }
    }

    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    margin-top: 0;

    @include mobile {
      margin-bottom: $gutter-half;
    }
  }
}
