.search-button {
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  height: $topbar-height;
  width: 28px + (2 * 25px);
  padding: 28px 25px;
  transform: translate3d(0, 0, 0);
  transition: transform 0.25s $curve-standard;
  z-index: 1000;

  &.-in-page {
    z-index: 1006;
  }

  @include mobile {
    width: 28px + (2 * 20px);
    padding: 28px 20px;
    transform: translateY(-7px);
  }

  .scrolled & {
    transform: translateY(-7px);
    height: $topbar-height - 13px;
  }

  ._link {
    @extend %hidetext;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px 28px;
    float: right;
    display: inline-block;
    width: 28px;
    height: 28px;

    &.-close {
      @include tablet {
        background-size: 22px 22px;
        width: 22px;
        height: 22px;
      }
    }
  }
}

.search-page {
  background-color: $white;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 0 115px;
  z-index: 1005;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  @include tablet {
    padding: 90px 20px 0 20px;
  }

  .search-wrap {
    margin-left: 20px;

    @include tablet {
      background: $white;
      box-shadow: 0px 1px 2px rgba($gray-dark, 0.1);
      height: $topbar-height-small;
      margin-left: 0;
      padding: 12px 0 0 12px;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 1000;
    }
  }

  ._input {
    @extend %circular-bold;
    background: none;
    border: none;
    display: block;
    margin: 70px 0 50px 0;
    padding: 0;
    width: 100%;
    color: $gray-dark;
    font-size: 110px;
    text-rendering: optimizeLegibility;
    -webkit-appearance: none;

    &::-ms-clear {
      display: none;
    }

    &:focus {
      outline: none;
    }

    @include tablet {
      background: $gray-bg;
      border-radius: 2px;
      margin: 0;
      padding: 4px 8px 5px 8px;
      width: 75%;
      font-size: 28px;
    }
  }

  ._instructions {
    margin: -$gutter 0 0 20px;
    color: $gray-light;
    font-size: 16px;

    @include tablet {
      margin: 0;
    }
  }
}

.search-result-list {
  color: $gray-subrules;

  p {
    font-size: 18px;
    line-height: (23 / 18);
  }

  a {
    display: block;
    color: $gray-subrules;
  }

  ._item {
    position: relative;
    border: 1px solid $gray-light;
    padding: 25px;
    margin-bottom: 20px;

    @include tablet {
      padding: $gutter-half;
    }
  }

  ._flag {
    background: $gray-light;
    position: absolute;
    right: 0;
    top: 0;
    margin: -1px -1px 0 0;
    width: 210px;
    -webkit-font-smoothing: antialiased;

    &.-tutorial {
      background: $lighterblue;
    }

    &.-articles {
      background: $green;
    }

    @include tablet {
      position: relative;
      margin: -16px -16px 10px -16px;
      width: auto;
    }

    h4 {
      @extend %circular-bold;
      margin: 0;
      padding: $gutter-half 40px;
      color: $white;
      font-size: 14px;
      letter-spacing: normal;
      line-height: (18 / 14);
      text-transform: uppercase;
      text-align: center;

      @include tablet {
        padding: 5px 15px 3px 15px;
        font-size: 10px;
        text-align: left;
      }
    }
  }

  ._title {
    @extend %h6;
    width: 60%;
    font-size: 16px;
    letter-spacing: normal;
    line-height: (19 / 16);
  }

  ._content {
    width: 60%;
    font-size: 16px;
    line-height: (24 / 16);

    @include tablet {
      width: 100%;
      line-height: (20 / 16);
    }
  }
}

.command-result {
  margin: 0 0 38px 27px;

  @include tablet {
    border-bottom: 1px solid $gray-rules;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 20px;
    padding: 0 0 0 20px;
  }
  
  h6 {
    display: inline-block;
    font-size: 16px;
    line-height: (19 / 16);

    @include tablet {
      display: block;
      margin-bottom: $gutter-half;
    }
  }

  ._result {
    @extend %nimbus;
    display: inline-block;
    border: 1px solid $gray-light;
    border-radius: 2px;
    padding: 7px $gutter-half 6px $gutter-half;
    margin-left: 10px;
    line-height: (22 / 16);

    @include tablet {
      margin-left: 0;
      margin-right: $gutter-half;
      margin-bottom: 20px;
    }
  }
}

.glossary-result {
  padding: 20px 20px 0 20px;
  border: 1px solid $gray-light;

  @include tablet {
    border: none;
    border-bottom: 1px solid $gray-rules;
    margin: 0 -20px 20px -20px;
    padding-top: 0;
  }

  h3 {
    @extend %circular-medium;
    font-size: 36px;
    line-height: (46 / 36);
    text-transform: capitalize;
  }

  p {
    color: $gray-subrules;
    font-size: 16px;
    line-height: (24 / 16);
  }
}