$item-tiny-content-width: 200px;
$item-tiny-content-padding: 20px;

@mixin item-tiny-left {
	right: 100%;
	left: auto; bottom: auto;
	margin: 0 8px 0 0;
	top: -$item-tiny-content-padding - 15px;
}
@mixin item-tiny-right {
	left: 100%;
	right: auto; bottom: auto;
	margin: 0 0 0 8px;
	top: -$item-tiny-content-padding - 15px;
}
@mixin item-tiny-bottom {
	top: 100%;
	left: 50%;
	right: auto; bottom: auto;
	margin: 8px 0 0 (-$item-tiny-content-width/2 - $item-tiny-content-padding);
	@include ten-years-mobile(){
		margin-left: -100px;
		padding: 10px;
	}
}
@mixin item-tiny-top {
	bottom: 100%;
	left: 50%;
	right: auto; top: auto;
	margin: 0 0 10px (-$item-tiny-content-width/2 - $item-tiny-content-padding);
	@include ten-years-mobile(){
		margin-left: -100px;
		padding: 10px;
	}
}

.ten-years-index .timeline {

	.item {
		border: 8px solid $ten-years-blue;
		text-align: center;
		@extend %circular;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;

		@mixin item-dimensions($diameter){
			height: $diameter;
			width: $diameter;
			border-radius: $diameter/2;
		}

		&.tiny {
			@include item-dimensions($item-tiny-diameter);
			background: $ten-years-main;
			border-color: $white;
			transition: transform .5s ease-in-out;
			transform: scale(0);
			&.enter {
				border-width: 8px;
				transform: scale(1);
			}
			.content {
				position: absolute;
				width: $item-tiny-content-width + $item-tiny-content-padding*2;
				padding: $item-tiny-content-padding;
				
				&.solid {
					background: $ten-years-bg;
					width: 204px;
				}

				&.left {
					@include item-tiny-left;
				}
				&.right {
					@include item-tiny-right;
				}
				&.bottom {
					@include item-tiny-bottom;
				}
				&.top {
					@include item-tiny-top;
				}
			}
		}

		&.small {
			@include item-dimensions($item-small-diameter);
		}
		
		&.large {
			background: $white;
			@include item-dimensions($item-large-diameter);
			.content,
			.huge & {
				max-width: 88%;
				max-height: 88%;
				z-index: 2;
			}
		}

		&.huge {
			background: $ten-years-main;
			color: $white;
			@include item-dimensions($item-huge-diameter);
			a {
				color: $white;
				@extend %circular-bold;
				font-size: 64px;
				&:hover,
				&:active,
				&:focus {
					opacity: 0.85;
				}
			}
		}

		.content {
			line-height: 1;
			position: relative;
			z-index: 2;
			& > * {
				margin-bottom: 8px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		h3 {
			font-size: 20px;
			letter-spacing: 0;
		}

		.date {
			font-size: 18px;
			color: $ten-years-main;
			@extend %circular-bold;
		}

		.desc {
			color: $ten-years-text;
			font-size: 14px;
			@extend %circular;
		}

		.info {
			background: $ten-years-blue;
			display: inline-block;
			margin-top: 12px;
			line-height: 30px;
			vertical-align: middle;
			opacity: 1;
			transition: opacity 0.1s ease-in-out;
			@include item-dimensions(30px);
			&:before {
				content: '\0069';
				color: $white;
				font-size: 24px;
				@extend %circular;
			}
			&:hover,
			&:active,
			&:focus {
				opacity: 0.85;
			}
		}

		&.large,
		&.huge {
	
			.kinematic {
				position: absolute;
				z-index: 1;
				&:before, &:after {
					content: "";
					display: block;
					position: absolute;
				}
				img {
					width: 100%;
					height: 100%;
					opacity: 0.01;
				}
				&.animated {
					// background-position: 0 0;
					// background-size: 100% auto !important;
					background-image: none;
					img {
						opacity: 1;
					}
				}
			}

		}

		// ITEMS
		$top-offset:380px;
		&.start {
			color: $ten-years-blue;
			font-weight: 200;
			top: $top-offset;
			@extend %small-center;

		}
		$top-offset: $top-offset + $item-small-diameter;

		$top-offset: $top-offset + 150px;
		&.announced {
			@extend %large-center;
			top: $top-offset;
			.content {
				padding-top: 10px;
			}
			.kinematic {
				@include retina-sprite($kinematic-announced-2x);
				left: -202px;
				bottom: -72px;
				&:before {
					background: $ten-years-blue;
					width: 13px;
					height: 34px;
					top: 291px;
					left: 318px;
					transform: translateX(0.2px);
				}
				&:after {
					background: $ten-years-blue;
					width: 13px;
					height: 4px;
					top: 586px;
					left: 318px;
					transform: translateX(0.2px);
				}
			}
		}
		$top-offset: $top-offset + $item-large-diameter;

		$top-offset: $top-offset + 170px;
		&.first-merge {
			@extend %tiny-center;
			top: $top-offset;
		}
		$top-offset: $top-offset + $item-tiny-diameter;

		$top-offset: $top-offset + 288px;
		&.junio-hamano {
			@extend %tiny-center;
			top: $top-offset;
			margin-left: 0;
			left: 446px;
			z-index: 2;
		}
		$top-offset: $top-offset + $item-tiny-diameter;

		$top-offset: $top-offset + 380px;
		&.git-1 {
			top: $top-offset;
			left: 494px;
			z-index: 1;
			.kinematic {
				@include retina-sprite($kinematic-git-1-2x);
				left: -337px;
				top: -286px;
				transform: translateX(0.4px);
				&:before {
					background: $ten-years-blue;
					width: 13px;
					height: 50px;
					top: 120px;
					left: 454px;
					border-right: 500px solid $ten-years-bg;
					transform: translateX(0.2px);
				}
				&:after {
					background: $ten-years-blue;
					width: 13px;
					height: 5px;
					top: 539px;
					left: 454px;
					transform: translateX(0.2px);
				}
			}
		}
		$top-offset: $top-offset + $item-large-diameter;

		$top-offset: $top-offset + 200px;
		&.torvalds-google {
			top: $top-offset;
			left: 150px;
			z-index: 2;
		}

		$top-offset: $top-offset + 200px;
		&.original-pr {
			top: $top-offset;
			left: -15px;
			.content {
				width: 204px;
			}
		}

		$top-offset: $top-offset + 190px;
		&.github-launch {
			top: $top-offset;
			@extend %large-center;
			.content {
				padding-top: 20px;
			}	
			.kinematic {
				@include retina-sprite($kinematic-github-launch-2x);
				left: -194px;
				top: -226px;
				transform: translate3d(0.6px,0.4px,0);
			}
		}
		$top-offset: $top-offset + $item-large-diameter;

		$top-offset: $top-offset + 40px;
		&.gist {
			top: $top-offset;
			left: 688px;
		}

		$top-offset: $top-offset + 960px;
		&.skyrocket {
			top: $top-offset;
			left: 584px;
			.kinematic {
				@include retina-sprite($kinematic-skyrocket-2x);
				top: -255px;
				left: -239px;
				&.animated {
					&:before {
						background: $ten-years-blue;
						width: 13px;
						height: 34px;
						top: 221px;
						left: 356px;
						transform: translateX(0.4px);
					}
					&:after {
						background: $ten-years-blue;
						width: 13px;
						height: 4px;
						top: 508px;
						left: 356px;
						transform: translateX(0.4px);
					}
				}
			}
		}
		$top-offset: $top-offset + $item-large-diameter;

		$top-offset: $top-offset + 102px;
		&.sourcetree {
			top: $top-offset;
			left: 100px;
			z-index: 2;
		}

		$top-offset: $top-offset + 70px;
		&.pull-requests-2 {
			top: $top-offset;
			left: -15px;
		}

		$top-offset: $top-offset + 259px;
		&.git-annex-launch {
			top: $top-offset;
			left: 204px;
			.kinematic {
				@include retina-sprite($kinematic-git-annex-launch-2x);
				top: -91px;
				left: -236px;
				&:before {
					background: $ten-years-blue;
					width: 13px;
					height: 34px;
					top: 341px;
					left: 353px;
				}
				&:after {
					display: none;
					background: $ten-years-blue;
					width: 170px;
					height: 13px;
					top: 573px;
					left: 101px;
				}
			}
		}
		$top-offset: $top-offset + $item-large-diameter;

		$top-offset: $top-offset + 360px;
		&.installations-surpass {
			top: $top-offset;
			left: -15px;
		}

		$top-offset: $top-offset + 305px;
		&.gitlab {
			top: $top-offset;
			left: -15px;
		}

		$top-offset: $top-offset + 700px;
		&.bitbucket-git {
			top: $top-offset;
			left: -15px;
		}

		$top-offset: $top-offset + 90px;
		&.stash {
			top: $top-offset + 20px;
			left: 214px;
			.kinematic {
				@include retina-sprite($kinematic-stash-2x);
				top: -384px;
				left: -177px;
				&:before {
					display: none;
					background: $ten-years-blue;
					width: 13px;
					height: 13px;
					top: 569px;
					left: 406px;
					transform: rotate(25deg) translateY(-0.4px);
				}
			}
		}
		$top-offset: $top-offset + $item-large-diameter;

		$top-offset: $top-offset + 70px;
		&.torvalds-pr {
			top: $top-offset;
			left: 473px;
		}

		$top-offset: $top-offset + 980px;
		&.git-2 {
			top: $top-offset + 3px;
			left: 400px;
		}

		$top-offset: $top-offset + 340px;
		&.surpass-svn {
			top: $top-offset;
			left: 572px;
			.content {
				padding-top: 10px;
			}
			.kinematic {
				@include retina-sprite($kinematic-surpass-svn-2x);
				top: -301px;
				left: -213px;
				&:before {
					background: $ten-years-blue;
					width: 13px;
					height: 4px;
					top: 290px;
					left: 328px;
					transform: translateX(0.6px);
				}
			}
		}
		$top-offset: $top-offset + $item-large-diameter;

		$top-offset: $top-offset + 90px;
		&.vulnerability {
			top: $top-offset;
			left: 170px;
		}

		$top-offset: $top-offset + 90px;
		&.snippets {
			top: $top-offset;
			left: -15px;
		}

		$top-offset: $top-offset + 300px;
		&.whats-next {
			top: $top-offset;
			left: 50%;
			margin-left: -$item-huge-diameter/2;
			.kinematic {
				@include retina-sprite($kinematic-whats-next-2x);
				top: -265px;
				left: -176px;
			}
		}

		/* SVG charts */
		&.graph {
			border: none;
			display: block; // no flex zone

			h3 {
				color: $ten-years-blue;
				border: 3px solid $white;
				display: inline-block;
				padding: 12px 50px;
				text-align: center;
				position: relative;
				margin: 0 0 30px;
			}

			._hero {
				width: 100%;
			}

			&.git-searches {
				width: 742px;
				top: 3211px;
				left: -172px;
				h3 {
					margin-left: 40px;
				}		
			}

			&.git-meetups {
				width: 635px;
				top: 5540px;
				left: 200px;
				h3 {
					margin-bottom: 10px;
				}
				.stats {
					@extend %clearfix;
					padding: 0;
					margin: 0;
					text-align: center;
					li {
						list-style: none;
						display: inline-block;
						padding: 0 20px;
					}
					span {
						display: block;
						color: $ten-years-blue;
					}
					.value {
						font-size: 45px;
						letter-spacing: -2px;
						@extend %sanchez;
					}
					.label {
						font-size: 14px;
						@extend %circular;
					}
				}
			}

			&.git-usage {
				top: 6980px;
				width: 660px;
				left: 40px;
			}

		}

		// BEGIN DESKTOP STYLES 
		@include ten-years-desktop() {
			
			&.tiny {
				.content.solid.left {
					width: 210px;
					padding-right: 0;
				}
			}

			&.original-pr {
				left: 68px;
				top: 2370px;
				.content.solid.left {
					width: 215px;
					padding-right: 20px;
				}
			}

			&.github-launch {
				top: 2640px;
				left: 260px;
				margin-left: 0;
			}

			&.gist {
				top: 3102px;
				left: 640px;
				&.tiny .content {
					@include item-tiny-left();
				}				
			}

			&.skyrocket {
				top: 4002px;
				left: 534px;
			}


			&.sourcetree {
				left: 200px;
			}

			&.pull-requests-2 {
				left: 56px;
				.content.solid {
					padding-right: 0;
				}
			}

			&.installations-surpass {
				left: 52px;
			}

			&.gitlab {
				top: 5545px;
				left: 52px;
				.content.solid {
					padding-right: 0;
				}
			}

			&.bitbucket-git {
				left: 52px;
				top: 6222px;
				.content.solid {

					padding-right: 0;
				}
			}

			&.surpass-svn {
				left: 532px;
			}

			&.vulnerability {
				left: 220px;
				.content.solid.left {
					width: 215px;
					padding-right: 20px;
				}				
			}

			&.snippets {
				left: 68px;
				.content.solid.left {
					width: 215px;
					padding-right: 20px;
				}				
			}

			// graphs
			&.graph {
				&.git-searches {
					top: 3269px;
					left: -95px;
				}
				&.git-usage {
					width: 700px;
					top: 6980px;
					left: -10px;
				}
			}

		}

		// TABLET
		@include ten-years-tablet() {
			&.tiny {
				.content.solid.left {
					width: 194px;
					padding-right: 0;
				}
			}

			&.first-merge {
				top: 942px;
			}
			&.junio-hamano {
				top: 1198px;
				left: 390px;
			}
			&.git-1 {
				top: 1674px;
				left: 416px;				
				.kinematic:after {
					margin-left: 2px;
				}
			}
			&.torvalds-google {
				top: 2040px;
				left: 260px;
			}
			&.original-pr {
				top: 2170px;
				left: 158px;
			}
			&.github-launch {
				top: 2487px;
			}
			&.gist {
				left: 652px;
				&.tiny .content {
					@include item-tiny-left();
				}
			}
			&.skyrocket {
				top: 3792px;
				left: 438px;
				.kinematic:before {
					display: none;
				}
			}
			&.sourcetree {
				top: 4206px;
				left: 260px;
			}
			&.pull-requests-2 {
				top: 4296px;
				left: 181px;
				&.tiny .content.solid.left {
					width: 214px;
					padding-right: 20px;
				}
			}
			&.git-annex-launch {
				top: 4627px;
				left: 221px;
			}
			&.installations-surpass {
				top: 5247px;
				left: -3px;
			}
			&.gitlab {
				display: none;
			}
			&.bitbucket-git {
				top: 5540px;
				left: -3px;
				&.tiny .content {
					background: none;
					@include item-tiny-right();
				}
			}
			&.stash {
				top: 6513px;
			}
			&.torvalds-pr {
				top: 6874px;
				left: 485px;
				&.tiny .content {
					width: 190px;
					padding: 20px 10px;
				}
			}
			&.git-2 {
				top: 7751px;
				left: 295px;
			}
			&.surpass-svn {
				top: 8124px;
				left: 450px;
			}
			&.vulnerability {
				top: 8465px;
				left: 200px;
			}
			&.snippets {
				top: 8636px;
				left: 48px;
				&.tiny .content {
					@include item-tiny-right();
				}
			}
			&.whats-next {
				top: 8996px;
			}

			// graphs
			&.graph {
				&.git-searches {
					width: 620px;
					top: 3142px;
					left: 28px;
				}
				&.git-meetups {
					width: 635px;
					top: 5690px;
					left: 100px;
				}
				&.git-usage {
					width: 660px;
					top: 7150px;
					left: 40px;
				}
			}

		}

		// @media only screen and (min-width:$mobile) and (max-width:$tablet){
		// 	&.original-pr {
		// 		top: 2400px;
		// 		&.tiny .content {
		// 			@include item-tiny-right();
		// 		}
		// 	}

		// 	&.gist {
		// 		top: 3102px;
		// 		&.tiny .content {
		// 			@include item-tiny-left();
		// 		}				
		// 	}

		// 	&.sourcetree {
		// 		left: 330px;
		// 	}			

		// 	&.pull-requests-2 {
		// 		top: 4316px;
		// 		left: 30px;
		// 		&.tiny .content {
		// 			@include item-tiny-top();
		// 			margin-left: -103px;
		// 		}
		// 	}

		// 	&.gitlab {
		// 		top: 5460px;
		// 		&.tiny .content {
		// 			@include item-tiny-right();
		// 		}
		// 	}

		// 	&.bitbucket-git {
		// 		top: 6212px;
		// 		z-index: 2;
		// 		&.tiny .content {
		// 			@include item-tiny-right();
		// 		}
		// 	}

		// 	&.snippets {
		// 		&.tiny .content {
		// 			@include item-tiny-right();
		// 		}
		// 	}

		// 	&.graph {
		// 		&.git-searches {
		// 			left: -42px;
		// 		}
		// 		&.git-meetups {
		// 			left: 70px;
		// 		}
		// 	}
		// }

		// MOBILE
		@include ten-years-mobile(){
			&.large,
			&.huge {

				border-width: 5px;

				.kinematic {
					display: block;
					background-size: cover !important;
					background-repeat: no-repeat;
					background-position: 0 0;
					img {
						display: none;
					}
					&:before,
					&:after {
						display: none;
					}
				}

			}

			&.large {
				left: 50%;
				margin-left: -80.5px;
				width: 161px;
				height: 161px;
			}

			&.tiny {
				width: 36px;
				height: 36px;
				left: 50%;
				margin-left: -18px;
				border-width: 6px !important;
				transform: scale(1) !important;
				.content {
					width: 200px;
					padding: 20px 10px;
				}
			}


			.content {
				.desc {
					display: none;
				}
				h3 {						
					font-size: 15px;
					margin-bottom: 0;
					&.date {
						margin-bottom: 5px;
					}
				}
			}

			&.start {
				top: -77px;
				border-width: 6px;
				width: 82px;
				height: 82px;
				margin-left: -43px;
			}
			&.announced {
				top: 120px;
				.info {
					display: none;
				}
				.content {
					padding: 0 0 10px;
				}
				.kinematic {
					background-image: url("../images/ten-years/mobile/git-announced.svg") !important;
					width: 260px;
					height: 417px;
					left: -42px;
					bottom: -91px;
				}
			}
			&.first-merge {
				top: 500px;
				margin-left: 101px;
			}
			&.junio-hamano {
				top: 650px;
				margin-left: 101px;
				&.tiny .content {
					@include item-tiny-left();
				}
			}
			&.git-1 {
				top: 918px;
				.kinematic {
					background-image: url("../images/ten-years/mobile/git-1.svg") !important;
					width: 255.5px;
					height: 380.5px;
					left: -64px;
					top: -188px;
				}
			}
			&.torvalds-google {
				top: 1180px;
				margin-left: -68px;
				&.tiny .content {
					@include item-tiny-bottom();
				}
			}
			&.original-pr {
				top: 1420px;
				margin-left: 105px;
			}
			&.github-launch {
				top: 1680px;
				.content {
					padding-top: 0;
				}
				.kinematic {
					background-image: url("../images/ten-years/mobile/github-launch.svg") !important;
					width: 301.1px;
					height: 334.7px;
					left: -76px;
					top: -98px;
				}
			}
			&.gist {
				top: 1970px;
				.content {
					width: 150px;
				}
			}
			&.skyrocket {
				top: 2552px;
				.kinematic {
					background-image: url("../images/ten-years/mobile/skyrocket.svg") !important;
					width: 264.6px;
					height: 355.5px;
					left: -86px;
					top: -119px;
				}
			}
			&.sourcetree {
				top: 2799px;
				margin-left: -50px;
				&.tiny .content {
					@include item-tiny-bottom();
					width: 170px;
					margin-left: -85px !important;
				}
			}
			&.pull-requests-2 {
				top: 2999px;
				margin-left: -142px;
				&.tiny .content.solid {
					@include item-tiny-right();
					width: 170px;
					background: none;
					margin-left: -5px !important;
				}
			}
			&.git-annex-launch {
				top: 3222px;
				.kinematic {
					background-image: url("../images/ten-years/mobile/git-annex-launch.svg") !important;
					width: 274.1px;
					height: 262.2px;
					left: -55px;
					top: -63px;
				}
			}
			&.installations-surpass {
				top: 3458px;
				margin-left: 10px;
				&.tiny .content {
					@include item-tiny-bottom();
					width: 170px;
					margin-left: -86px !important;	
				}
			}
			&.gitlab {
				top: 3693px;
				margin-left: 100px;
				&.tiny .content {
					width: 140px;
				}
			}
			&.bitbucket-git {
				top: 4432px;
				z-index: 2;
				&.tiny .content {
					background: none !important;
					width: 150px;
				}
			}
			&.stash {
				top: 4558px;
				z-index: 1;
				.kinematic {
					background-image: url("../images/ten-years/mobile/stash.svg") !important;
					width: 257.1px;
					height: 297.3px;
					left: -45px;
					top: -9px;
				}
			}
			&.torvalds-pr {
				top: 4900px;
				margin-left: -142px;
			}
			&.git-2 {
				top: 5468px;
				margin-left: 70px;
				z-index: 2;
				&.tiny .content {
					@include item-tiny-bottom();
				}
			}
			&.surpass-svn {
				top: 5810px;
				.kinematic {
					background-image: url("../images/ten-years/mobile/surpass-svn.svg") !important;
					width: 159.4px;
					height: 497.5px;
					left: -4px;
					top: -287px;
				}
			}
			&.vulnerability {
				top: 6052px;
				&.tiny .content {
					@include item-tiny-bottom();
				}				
			}			
			&.snippets {
				top: 6162px;
				margin-left: -142px;
				&.tiny .content {
					@include item-tiny-right();
				}				
			}
			&.whats-next {
				top: 6600px;
				width: 156px;
				height: 156px;
				margin-left: -78px;
				border-width: 8px;
				.content a {
					font-size: 36px;
					font-weight: bold;
				}
				.kinematic {
					background-image: url("../images/ten-years/mobile/whats-next.svg") !important;
					width: 211.7px;
					height: 268.4px;
					left: -44px;
					top: -107px;
				}
			}
			
			&.graph {
				&.git-searches,
				&.git-meetups,
				&.git-usage {
					background: $ten-years-bg;
					padding: 20px 0;
					left: 10px;
					right: auto;
					svg {
						margin: 0 auto;
						max-width: 500px;
					}
				}

				&.git-searches {
					width: 100%;
					h3 {
						margin-left: auto;
					}
					._hero {
						margin-bottom: -20px;
						margin-left: -10px;
					}
					top: 2060px;
				}
				&.git-meetups {
					top: 3770px;
					width: 100%;
					left: 0;
					.stats {
						.value {
							font-size: 28px;
						}
					}
				}
				&.git-usage {
					top: 5080px;
					width: auto;
					left: 10px;
					right: 10px;
					padding: 20px 0 0;
				}
			}
		}

		@media only screen and (max-width:568px){
			&.graph {
				height: auto;
				width: auto !important;
				svg {
					position: relative;
					width: 100%;
				}
				&.git-usage {
					h3 {
						margin-bottom: 0;
					}
				}
			}
		}

	}

}