.tutorial-detail {
  background: $gray-bg;
  position: relative;
  min-height: 600px;
  overflow: hidden;
  z-index: 40;

  ._hero {
    position: relative;
    margin-bottom: 47px;

    @include mobile {
      margin: $gutter-double 0 $gutter 0;
    }

    svg, img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  ._content {
    overflow: hidden;
    margin: 97px auto 0 auto;
    max-width: 1200px;

    @include mobile {
      margin-top: 20px;
    }

    a {
      @include hover {
        color: $blue;
      }
    }
  }

  ._intro {
    margin-bottom: 93px;

    @include mobile {
      margin-bottom: $gutter;
    }

    p {
      font-size: 21px;
      font-weight: 600;
      line-height: (28 / 21);
      text-align: center;

      @include mobile {
        font-size: 14px;
      }
    }

    h2 {
      margin: 0;
      text-align: center;

      @include mobile {
        font-size: 32px;
      }
    }
  }

  ._section {
    margin: 0 auto;
    max-width: 555px;
    padding-bottom: $gutter-double;

    @include mobile {
      padding-bottom: $gutter;
    }

    img {
      width: 100%;
    }

    h2 {
      @extend %h4;
      padding-top: $gutter;

      @include mobile {
        font-size: 21px;
      }
    }

    h3 {
      @extend %h5;
      padding-top: $gutter;
    }

    h4 {
      @extend %h6;

      @include mobile {
        font-size: 16px;
      }

      code {
        @extend %helvetica;
        font-weight: 700;
      }
    }

    p:first-child {
      padding-top: $gutter;
    }

    ul, ol {
      margin: 0 0 $gutter 0;
    }

    li {
      margin-bottom: 20px;
      
      @include mobile {
        font-size: 14px;
      }
    }

    table {
      margin-bottom: $gutter;
      font-size: 14px;

      th, td {
        border: 1px solid $gray-boxes;
        padding: 5px;
      }

      th {
        border-bottom: 0;
      }

      code {
        font-size: 14px;
      }
    }
  }

  ._footer {
    background: $white;
    position: relative;
    margin: 80px auto 0 auto;
    padding: 70px 0;
    text-align: center;

    @include mobile {
      margin-top: 40px;
      padding: $gutter 0 35px 0;
    }

    a {
      color: $gray-dark;

      @include hover {
        h4, h5, p {
          color: $gray-subrules;
        }
      }

      h4 {
        transition: color 0.125s ease-in-out;
        
        @include mobile {
          font-size: 32px;
        }
      }

      h5 {
        @extend %circular;
        transition: color 0.125s ease-in-out;
        font-size: 21px;
        line-height: (28 / 21);
      }

      p {
        @extend %circular-bold;
        transition: color 0.125s ease-in-out;
        font-size: 16px;
        letter-spacing: 0.5px;
        line-height: (24 / 21);
        text-transform: uppercase;
      }
    }
  }

  ._next {
    display: inline-block;
    color: $white;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
  }
}