.tutorial-sidebar {
  left: -250px;
  width: 250px;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 1001;

  ._wrap {
    position: fixed;
    background: $gray-secondary;
    padding-top: $topbar-height;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    width: 250px;
    transition: padding 0.25s $curve-standard;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      background: $gray-secondary;
      width: 0;
    }

    .scrolled & {
      padding-top: $topbar-height-small;
    }
  }

  &.is-active {
    left: 0;

    ._bumper {
      left: 0;
    }
  }

  .no-csstransitions & {
    display: none;
  }

  .no-csstransitions &.is-active {
    display: block;
    left: 0;
  }

  @include mobile {
    left: -250px !important;
  }

  ._bumper {
    background: $gray-subrules;
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: $topbar-height;
    transition: height 0.25s $curve-standard;
    z-index: 20;

    .scrolled & {
      height: $topbar-height-small;
    }

    @include mobile {
      left: -250px !important;
    }
  }

  h5 {
    @extend %circular-bold;
    margin-bottom: 6px;
    color: $white;
    font-size: 21px;
    line-height: (32 / 21);

    a {
      color: $white !important;
      font-weight: 400 !important;
      -webkit-font-smoothing: antialiased;
    }
  }

  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ._group {
    position: relative;
    padding: $gutter;
    transform: translate3d(0,0,0);

    &:after {
      border-bottom: 1px solid $gray-subrules;
      content: "";
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  ._group-wrap {
    position: relative;
    max-height: 0;
    transition: max-height 0.35s $curve-slower;
    overflow: hidden;

    &.is-active {
      max-height: 500px;
    }
  }

  li {
    margin-bottom: 6px;

    a {
      display: block;
      color: $gray-light;
      font-weight: 600;

      @include hover {
        color: $white;
        -webkit-font-smoothing: antialiased;
      }

      &.active {
        color: $white;
        -webkit-font-smoothing: antialiased;
      }
    }
  }

  ._toc {
    margin: 0 0 0 15px;
    max-height: 0;
    transition: all 0.35s $curve-slower;
    overflow: hidden;

    &.is-active {
      max-height: 200px;
    }

    li {
      margin-bottom: 0;

      &:first-child {
        margin-top: 10px;
      }

      &:last-child {
        margin-bottom: 20px;
      }
    }

    a {
      margin-bottom: 12px;
      font-size: 16px;
      font-weight: 400;
      line-height: (20 / 16);
      &.active {
        color: #999999;
      }
    }

    li.scrolled-active a {
      color: white;
    }
  }
}