/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$kinematic-announced-2x-name: 'kinematic-announced-2x';
$kinematic-announced-2x-x: 0px;
$kinematic-announced-2x-y: 0px;
$kinematic-announced-2x-offset-x: 0px;
$kinematic-announced-2x-offset-y: 0px;
$kinematic-announced-2x-width: 1300px;
$kinematic-announced-2x-height: 1300px;
$kinematic-announced-2x-total-width: 3904px;
$kinematic-announced-2x-total-height: 3904px;
$kinematic-announced-2x-image: '../images/ten-years/initial-2x.gif';
$kinematic-announced-2x: (0px, 0px, 0px, 0px, 1300px, 1300px, 3904px, 3904px, '../images/ten-years/initial-2x.gif', 'kinematic-announced-2x', );
$kinematic-git-1-2x-name: 'kinematic-git-1-2x';
$kinematic-git-1-2x-x: 1302px;
$kinematic-git-1-2x-y: 0px;
$kinematic-git-1-2x-offset-x: -1302px;
$kinematic-git-1-2x-offset-y: 0px;
$kinematic-git-1-2x-width: 1300px;
$kinematic-git-1-2x-height: 1300px;
$kinematic-git-1-2x-total-width: 3904px;
$kinematic-git-1-2x-total-height: 3904px;
$kinematic-git-1-2x-image: '../images/ten-years/initial-2x.gif';
$kinematic-git-1-2x: (1302px, 0px, -1302px, 0px, 1300px, 1300px, 3904px, 3904px, '../images/ten-years/initial-2x.gif', 'kinematic-git-1-2x', );
$kinematic-git-annex-launch-2x-name: 'kinematic-git-annex-launch-2x';
$kinematic-git-annex-launch-2x-x: 0px;
$kinematic-git-annex-launch-2x-y: 1302px;
$kinematic-git-annex-launch-2x-offset-x: 0px;
$kinematic-git-annex-launch-2x-offset-y: -1302px;
$kinematic-git-annex-launch-2x-width: 1300px;
$kinematic-git-annex-launch-2x-height: 1300px;
$kinematic-git-annex-launch-2x-total-width: 3904px;
$kinematic-git-annex-launch-2x-total-height: 3904px;
$kinematic-git-annex-launch-2x-image: '../images/ten-years/initial-2x.gif';
$kinematic-git-annex-launch-2x: (0px, 1302px, 0px, -1302px, 1300px, 1300px, 3904px, 3904px, '../images/ten-years/initial-2x.gif', 'kinematic-git-annex-launch-2x', );
$kinematic-github-launch-2x-name: 'kinematic-github-launch-2x';
$kinematic-github-launch-2x-x: 1302px;
$kinematic-github-launch-2x-y: 1302px;
$kinematic-github-launch-2x-offset-x: -1302px;
$kinematic-github-launch-2x-offset-y: -1302px;
$kinematic-github-launch-2x-width: 1300px;
$kinematic-github-launch-2x-height: 1300px;
$kinematic-github-launch-2x-total-width: 3904px;
$kinematic-github-launch-2x-total-height: 3904px;
$kinematic-github-launch-2x-image: '../images/ten-years/initial-2x.gif';
$kinematic-github-launch-2x: (1302px, 1302px, -1302px, -1302px, 1300px, 1300px, 3904px, 3904px, '../images/ten-years/initial-2x.gif', 'kinematic-github-launch-2x', );
$kinematic-skyrocket-2x-name: 'kinematic-skyrocket-2x';
$kinematic-skyrocket-2x-x: 2604px;
$kinematic-skyrocket-2x-y: 0px;
$kinematic-skyrocket-2x-offset-x: -2604px;
$kinematic-skyrocket-2x-offset-y: 0px;
$kinematic-skyrocket-2x-width: 1300px;
$kinematic-skyrocket-2x-height: 1300px;
$kinematic-skyrocket-2x-total-width: 3904px;
$kinematic-skyrocket-2x-total-height: 3904px;
$kinematic-skyrocket-2x-image: '../images/ten-years/initial-2x.gif';
$kinematic-skyrocket-2x: (2604px, 0px, -2604px, 0px, 1300px, 1300px, 3904px, 3904px, '../images/ten-years/initial-2x.gif', 'kinematic-skyrocket-2x', );
$kinematic-stash-2x-name: 'kinematic-stash-2x';
$kinematic-stash-2x-x: 2604px;
$kinematic-stash-2x-y: 1302px;
$kinematic-stash-2x-offset-x: -2604px;
$kinematic-stash-2x-offset-y: -1302px;
$kinematic-stash-2x-width: 1300px;
$kinematic-stash-2x-height: 1300px;
$kinematic-stash-2x-total-width: 3904px;
$kinematic-stash-2x-total-height: 3904px;
$kinematic-stash-2x-image: '../images/ten-years/initial-2x.gif';
$kinematic-stash-2x: (2604px, 1302px, -2604px, -1302px, 1300px, 1300px, 3904px, 3904px, '../images/ten-years/initial-2x.gif', 'kinematic-stash-2x', );
$kinematic-surpass-svn-2x-name: 'kinematic-surpass-svn-2x';
$kinematic-surpass-svn-2x-x: 0px;
$kinematic-surpass-svn-2x-y: 2604px;
$kinematic-surpass-svn-2x-offset-x: 0px;
$kinematic-surpass-svn-2x-offset-y: -2604px;
$kinematic-surpass-svn-2x-width: 1300px;
$kinematic-surpass-svn-2x-height: 1300px;
$kinematic-surpass-svn-2x-total-width: 3904px;
$kinematic-surpass-svn-2x-total-height: 3904px;
$kinematic-surpass-svn-2x-image: '../images/ten-years/initial-2x.gif';
$kinematic-surpass-svn-2x: (0px, 2604px, 0px, -2604px, 1300px, 1300px, 3904px, 3904px, '../images/ten-years/initial-2x.gif', 'kinematic-surpass-svn-2x', );
$kinematic-whats-next-2x-name: 'kinematic-whats-next-2x';
$kinematic-whats-next-2x-x: 1302px;
$kinematic-whats-next-2x-y: 2604px;
$kinematic-whats-next-2x-offset-x: -1302px;
$kinematic-whats-next-2x-offset-y: -2604px;
$kinematic-whats-next-2x-width: 1300px;
$kinematic-whats-next-2x-height: 1300px;
$kinematic-whats-next-2x-total-width: 3904px;
$kinematic-whats-next-2x-total-height: 3904px;
$kinematic-whats-next-2x-image: '../images/ten-years/initial-2x.gif';
$kinematic-whats-next-2x: (1302px, 2604px, -1302px, -2604px, 1300px, 1300px, 3904px, 3904px, '../images/ten-years/initial-2x.gif', 'kinematic-whats-next-2x', );
$spritesheet-width: 3904px;
$spritesheet-height: 3904px;
$spritesheet-image: '../images/ten-years/initial-2x.gif';
$spritesheet-sprites: ($kinematic-announced-2x, $kinematic-git-1-2x, $kinematic-git-annex-launch-2x, $kinematic-github-launch-2x, $kinematic-skyrocket-2x, $kinematic-stash-2x, $kinematic-surpass-svn-2x, $kinematic-whats-next-2x, );
$spritesheet: (3904px, 3904px, '../images/ten-years/initial-2x.gif', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
