/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$kinematic-announced-name: 'kinematic-announced';
$kinematic-announced-x: 0px;
$kinematic-announced-y: 0px;
$kinematic-announced-offset-x: 0px;
$kinematic-announced-offset-y: 0px;
$kinematic-announced-width: 650px;
$kinematic-announced-height: 650px;
$kinematic-announced-total-width: 1954px;
$kinematic-announced-total-height: 1954px;
$kinematic-announced-image: '../images/ten-years/initial.gif';
$kinematic-announced: (0px, 0px, 0px, 0px, 650px, 650px, 1954px, 1954px, '../images/ten-years/initial.gif', 'kinematic-announced', );
$kinematic-git-1-name: 'kinematic-git-1';
$kinematic-git-1-x: 652px;
$kinematic-git-1-y: 0px;
$kinematic-git-1-offset-x: -652px;
$kinematic-git-1-offset-y: 0px;
$kinematic-git-1-width: 650px;
$kinematic-git-1-height: 650px;
$kinematic-git-1-total-width: 1954px;
$kinematic-git-1-total-height: 1954px;
$kinematic-git-1-image: '../images/ten-years/initial.gif';
$kinematic-git-1: (652px, 0px, -652px, 0px, 650px, 650px, 1954px, 1954px, '../images/ten-years/initial.gif', 'kinematic-git-1', );
$kinematic-git-annex-launch-name: 'kinematic-git-annex-launch';
$kinematic-git-annex-launch-x: 0px;
$kinematic-git-annex-launch-y: 652px;
$kinematic-git-annex-launch-offset-x: 0px;
$kinematic-git-annex-launch-offset-y: -652px;
$kinematic-git-annex-launch-width: 650px;
$kinematic-git-annex-launch-height: 650px;
$kinematic-git-annex-launch-total-width: 1954px;
$kinematic-git-annex-launch-total-height: 1954px;
$kinematic-git-annex-launch-image: '../images/ten-years/initial.gif';
$kinematic-git-annex-launch: (0px, 652px, 0px, -652px, 650px, 650px, 1954px, 1954px, '../images/ten-years/initial.gif', 'kinematic-git-annex-launch', );
$kinematic-github-launch-name: 'kinematic-github-launch';
$kinematic-github-launch-x: 652px;
$kinematic-github-launch-y: 652px;
$kinematic-github-launch-offset-x: -652px;
$kinematic-github-launch-offset-y: -652px;
$kinematic-github-launch-width: 650px;
$kinematic-github-launch-height: 650px;
$kinematic-github-launch-total-width: 1954px;
$kinematic-github-launch-total-height: 1954px;
$kinematic-github-launch-image: '../images/ten-years/initial.gif';
$kinematic-github-launch: (652px, 652px, -652px, -652px, 650px, 650px, 1954px, 1954px, '../images/ten-years/initial.gif', 'kinematic-github-launch', );
$kinematic-skyrocket-name: 'kinematic-skyrocket';
$kinematic-skyrocket-x: 1304px;
$kinematic-skyrocket-y: 0px;
$kinematic-skyrocket-offset-x: -1304px;
$kinematic-skyrocket-offset-y: 0px;
$kinematic-skyrocket-width: 650px;
$kinematic-skyrocket-height: 650px;
$kinematic-skyrocket-total-width: 1954px;
$kinematic-skyrocket-total-height: 1954px;
$kinematic-skyrocket-image: '../images/ten-years/initial.gif';
$kinematic-skyrocket: (1304px, 0px, -1304px, 0px, 650px, 650px, 1954px, 1954px, '../images/ten-years/initial.gif', 'kinematic-skyrocket', );
$kinematic-stash-name: 'kinematic-stash';
$kinematic-stash-x: 1304px;
$kinematic-stash-y: 652px;
$kinematic-stash-offset-x: -1304px;
$kinematic-stash-offset-y: -652px;
$kinematic-stash-width: 650px;
$kinematic-stash-height: 650px;
$kinematic-stash-total-width: 1954px;
$kinematic-stash-total-height: 1954px;
$kinematic-stash-image: '../images/ten-years/initial.gif';
$kinematic-stash: (1304px, 652px, -1304px, -652px, 650px, 650px, 1954px, 1954px, '../images/ten-years/initial.gif', 'kinematic-stash', );
$kinematic-surpass-svn-name: 'kinematic-surpass-svn';
$kinematic-surpass-svn-x: 0px;
$kinematic-surpass-svn-y: 1304px;
$kinematic-surpass-svn-offset-x: 0px;
$kinematic-surpass-svn-offset-y: -1304px;
$kinematic-surpass-svn-width: 650px;
$kinematic-surpass-svn-height: 650px;
$kinematic-surpass-svn-total-width: 1954px;
$kinematic-surpass-svn-total-height: 1954px;
$kinematic-surpass-svn-image: '../images/ten-years/initial.gif';
$kinematic-surpass-svn: (0px, 1304px, 0px, -1304px, 650px, 650px, 1954px, 1954px, '../images/ten-years/initial.gif', 'kinematic-surpass-svn', );
$kinematic-whats-next-name: 'kinematic-whats-next';
$kinematic-whats-next-x: 652px;
$kinematic-whats-next-y: 1304px;
$kinematic-whats-next-offset-x: -652px;
$kinematic-whats-next-offset-y: -1304px;
$kinematic-whats-next-width: 650px;
$kinematic-whats-next-height: 650px;
$kinematic-whats-next-total-width: 1954px;
$kinematic-whats-next-total-height: 1954px;
$kinematic-whats-next-image: '../images/ten-years/initial.gif';
$kinematic-whats-next: (652px, 1304px, -652px, -1304px, 650px, 650px, 1954px, 1954px, '../images/ten-years/initial.gif', 'kinematic-whats-next', );
$spritesheet-width: 1954px;
$spritesheet-height: 1954px;
$spritesheet-image: '../images/ten-years/initial.gif';
$spritesheet-sprites: ($kinematic-announced, $kinematic-git-1, $kinematic-git-annex-launch, $kinematic-github-launch, $kinematic-skyrocket, $kinematic-stash, $kinematic-surpass-svn, $kinematic-whats-next, );
$spritesheet: (1954px, 1954px, '../images/ten-years/initial.gif', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
