@import "_global/util";
@import "_global/grid";
@import "_global/typography";

* {
  box-sizing: border-box;
}

@include placeholder {
  color: $gray;
}

body {
  @extend %helvetica;
  background: $white;
  color: $gray;
  font-size: 16px;
  line-height: (24 / 16);
  -webkit-font-smoothing: antialiased;
}

.test-prefixer {
  transition: transform 1s;
}

#container {
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.page-wrap {
  width: 100%;
  padding-left: 0;

  &.is-active {
    padding-left: 250px;
  }

  &.-gray-bg {
    background: $gray-bg;
  }

  @include mobile {
    padding-left: 0 !important;
  }
}

#content {
  padding-top: $topbar-height;

  @include mobile {
    padding-top: $topbar-height-small;
  }

  &.-search {
    padding-top: 0;
  }
}

.not-found {
  background: $atlassian-blue;
  padding: 63px 0 84px 0;

  @include mobile {
    overflow: hidden;
    padding: $gutter 0 42px 0;
  }

  ._wrapper {
    width: 931px;
    margin: 0 auto;

    @include tablet {
      width: 90%;
    }
  }

  ._img {
    max-width: 135px;
    margin: 0 auto;
  }

  ._hero {
    position: relative;

    svg, img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  ._title {
    @extend %sanchez;
    margin: 40px auto 0 auto;
    width: 500px;
    padding-bottom: 60px;
    color: $white;
    text-align: center;

    @include mobile {
      margin-top: 20px;
      padding: 0 $gutter $gutter-double $gutter;
      width: auto;
      font-size: 32px;
    }
  }

  ._home, ._home a {
    @extend %circular;
    text-transform: uppercase;
    text-align: center;
    color: white !important;
    margin: 0;
  }
}

.content-enter {
  position: relative;
  transition: transform 0.35s $curve-standard;
  transform: translate3d(0, 250px, 0);
  z-index: 500;

  &.content-enter-active {
    transform: translate3d(0, 0, 0);
  }
}

.search-enter {
  position: relative;
  transition: transform 0.35s $curve-standard;
  transform: translate3d(0, -100%, 0);
  z-index: 500;

  &.search-enter-active {
    transform: translate3d(0, 0, 0);
  }
}

.tutorial-enter {
  position: relative;
  transition: transform 0.35s $curve-standard;
  transform: translate3d(-100%, 0, 0);
  z-index: 500;

  &.tutorial-enter-active {
    transform: translate3d(0, 0, 0);
  }

  @include tablet {
    transform: translate3d(0, -100%, 0);
  }
}

.reference-left-enter {
  position: relative;
  transition: transform 0.35s $curve-standard;
  transform: translate3d(-25%, 0, 0);
  z-index: 500;

  &.reference-left-enter-active {
    transform: translate3d(0, 0, 0);
  }
}

.reference-right-enter {
  position: relative;
  transition: transform 0.35s $curve-standard;
  transform: translate3d(25%, 0, 0);
  z-index: 500;

  &.reference-right-enter-active {
    transform: translate3d(0, 0, 0);
  }
}