// Sizes
$mobile-small: 320px;
$mobile: 768px;
$tablet: 1024px;
$desktop: 1200px;
$cinema: 1600px;

$gutter: 30px;
$gutter-half: ($gutter / 2);
$gutter-double: ($gutter * 2);
$topbar-height: 90px;
$topbar-height-small: 70px;

// Colors
$atlassian-blue: #205081;
$yellow: #f6c342;
$blue: #58ade3;
$lighterblue: #59afe1;
$green: #67ab49;
$orange: #f79232;

// Grays
$gray-bg: #f5f5f5;
$gray-rules: #e9e9e9;
$gray-boxes: #cccccc;
$gray-subrules: #707070;
$gray-light: #999999;
$gray-secondary: #404040;
$gray: #4d4d4d;
$gray-dark: #333333;

$black: #000000;
$white: #ffffff;

// Transition curves
$curve-standard: cubic-bezier(0.05, 1.04, 0.72, 0.98); /* http://cubic-bezier.com/#.05,1.04,.72,.98 */
$curve-slower: cubic-bezier(0.32, 0.38, 0.41, 0.99); /* http://cubic-bezier.com/#.32,.38,.41,.99 */