.icon-global-nav-home-title {
  background-image: inline-image('../images/global/nav-home-title.svg');
}

.icon-global-nav-home {
  background-image: inline-image('../images/global/nav-home.svg');
}

.icon-global-nav-tutorials {
  background-image: inline-image('../images/global/nav-tutorials.svg');
}

.icon-global-nav-articles {
  background-image: inline-image('../images/global/nav-articles.svg');
}

.icon-global-nav-glossary,
.icon-global-nav-reference {
  background-image: inline-image('../images/global/nav-glossary.svg');
}

.icon-logo-atlassian-footer {
  background-image: inline-image('../images/global/logo-atlassian-footer.svg');
}

.icon-logo-bitbucket-footer {
  background-image: inline-image('../images/global/logo-bitbucket-footer.svg');
}

.icon-footer-twitter {
  background-image: inline-image('../images/global/icon-twitter.svg');
}

.icon-twitter-dark {
  background-image: inline-image('../images/global/icon-twitter-dark.svg');
}

.icon-footer-facebook {
  background-image: inline-image('../images/global/icon-facebook.svg');
}

.icon-footer-gplus {
  background-image: inline-image('../images/global/icon-gplus.svg');
}

.icon-global-cclicense {
  background-image: inline-image('../images/global/icon-cclicense.svg');
}

.icon-tutorial-getting-started {
  background-image: inline-image('../images/tutorials/icon-getting-started.svg');
}

.icon-tutorial-collaborating {
  background-image: inline-image('../images/tutorials/icon-collaborating.svg');
}

.icon-tutorial-migrating {
  background-image: inline-image('../images/tutorials/icon-migrating.svg');
}

.icon-tutorial-advanced {
  background-image: inline-image('../images/tutorials/icon-advanced.svg');
}

.icon-reference-arrow { 
  background-image: inline-image('../images/reference/icon-arrow.svg');
}

.icon-home-arrow-more {
  background-image: inline-image('../images/home/icon-arrow-more.svg');
}

.icon-search {
  background-image: inline-image('../images/global/icon-search.svg');
}

.icon-search-close {
  background-image: inline-image('../images/global/icon-search-close.svg');
}

.icon-email-submit {
  background-image: inline-image('../images/global/icon-email-submit.svg');
}

.icon-email-success {
  background-image: inline-image('../images/global/icon-email-success.svg');
}

.icon-email-error {
  background-image: inline-image('../images/global/icon-email-error.svg');
}
