/*

  Naming conventions follow a system similar to BEM (Block Element Modifier).

  Parent block selectors as well as utility classes are hyphen-separated
  descriptions of the element.

  Each major child of a parent block is prefixed with an underscore and nested
  within its parent, and any modified version of a child element is prefixed
  with a hyphen.

  Utility classes are similar to modifiers but may have reason to be applied
  across a variety of elements, such as basic text alignment or other layout
  modifications that make sense to have available site-wide.

  Avoid using IDs wherever possible. For JavaScript hooks, use a .js- prefix on
  your elements and do not apply styles to .js- prefixed selectors.

  ===========
    Example
  ===========
  <div class="page-header">
    <h1 class="_title">Title</h1>
    <h2 class="_title -dark">Dark Title</h2>
    <h3 class="_title align-center">Centered Title</h3>
  </div>

  .page-header {
    width: 500px;

    ._title {
      color: white;

      &.-dark {
        color: black;
      }
    }
  }

  .align-center {
    text-align: center;
  }

*/

// Globals
@import "_vendor/normalize.scss";
@import "vars";
@import "global";

// Generated
@import "_generated/ten-years-initial-retina";

// Modules
@import "_modules/footer";
@import "_modules/hamburger";
@import "_modules/home";
@import "_modules/articles-index";
@import "_modules/articles-detail";
@import "_modules/tutorial-index";
@import "_modules/tutorial-detail";
@import "_modules/tutorial-sidebar";
@import "_modules/ten-years";
@import "_modules/modal";
@import "_modules/primary-nav";
@import "_modules/reference";
@import "_modules/search";
@import "_modules/topbar";
@import "_modules/jira-collector";
