// Fluid grid widths.
// Naming is done as fractions where the first number is the fraction of the second number.
// '1-2' equates to one half, or 50%. The letter prefixes correspond to screen size.

$columns: 12;
$grid-slug: g; // .g- for global/general grid
$grid-slug-cinema: c; // .c- for cinema (not cookie unfortunately)
$grid-slug-desktop: d; // .d- for desktop
$grid-slug-tablet: t; // .t- for tablet
$grid-slug-mobile: m; // .m- for mobile

@mixin centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin gutterless {
  padding: 0;
}

// Generate each potential width percentage out of the provided column count.
@for $i from 1 through $columns {
  @for $ii from 1 through $i {
    .#{$grid-slug}-#{$ii}-#{$i} {
      width: ($ii / $i) * 100%;
    }
  }
}

.g-column.#{$grid-slug}-centered {
  @include centered;
}

.g-column.#{$grid-slug}-gutterless {
  @include gutterless;
}

// Overrides for different screen sizes.
@include cinema-up {
  @for $i from 1 through $columns {
    @for $ii from 1 through $i {
      .#{$grid-slug-cinema}-#{$ii}-#{$i} {
        width: ($ii / $i) * 100% !important;
      }
    }
  }

  .g-column.#{$grid-slug-cinema}-centered {
    @include centered;
  }

  .g-column.#{$grid-slug-cinema}-gutterless {
    @include gutterless;
  }
}

@include desktop {
  @for $i from 1 through $columns {
    @for $ii from 1 through $i {
      .#{$grid-slug-desktop}-#{$ii}-#{$i} {
        width: ($ii / $i) * 100% !important;
      }
    }
  }

  .g-column.#{$grid-slug-desktop}-centered {
    @include centered;
  }

  .g-column.#{$grid-slug-desktop}-gutterless {
    @include gutterless;
  }
}

@include tablet {
  @for $i from 1 through $columns {
    @for $ii from 1 through $i {
      .#{$grid-slug-tablet}-#{$ii}-#{$i} {
        width: ($ii / $i) * 100% !important;
      }
    }
  }

  .g-column.#{$grid-slug-tablet}-centered {
    @include centered;
  }

  .g-column.#{$grid-slug-tablet}-gutterless {
    @include gutterless;
  }
}

@include mobile {
  @for $i from 1 through $columns {
    @for $ii from 1 through $i {
      .#{$grid-slug-mobile}-#{$ii}-#{$i} {
        width: ($ii / $i) * 100% !important;
      }
    }
  }

  .g-column.#{$grid-slug-mobile}-centered {
    @include centered;
  }

  .g-column.#{$grid-slug-mobile}-gutterless {
    @include gutterless;
  }
}

// Grid rows
.g-row {
  @extend %clearfix;
  margin-left: -$gutter-half;
  margin-right: -$gutter-half;

  .g-row {
    margin: 0;
  }
}

// Grid columns
.g-column {
  display: inline-block;
  vertical-align: top;
  padding: 0 $gutter-half;

  .pull-left & {
    float: left;
  }

  .pull-right & {
    float: right;
  }

  .tablet-kill-pull {
    @include tablet {
      float: none !important;
    }
  }

  .mobile-kill-pull {
    @include mobile {
      float: none !important;
    }
  }
}